.editpage-border {
  background-color: rgba(0, 0, 0, 0.37);
  position: fixed;
  top: 100px;
  width: 100%;
  height: 100vh;
  transform: translateY(-8%);
  font-size: 22px;
  color: white;
}

.editbook-form {
  background-color: #032f3e;
  position: absolute;
  margin-top: 5%;
  margin-left: 20%;
  width: 60%;
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.editbook-form div {
  margin: 20px;
}

.editbook-form input {
  width: 100%;
  height: 20px;
  padding: 3px 5px;
  margin-top: 15px;
  outline: none;
  background-color: #032f3e;
  color: white;
  border-color: white;
}

.editbook-form button {
  margin: 0px 20px 20px 20px;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.editform-inputs {
  display: flex;
  flex-wrap: wrap;
}
