.profileDetailsOuter {
  background-color: rgba(0, 0, 0, 0.37);
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(-5%);
}

.profileDetails {
  position: absolute;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #032f3e;
  color: white;
  z-index: 200;
  margin-left: 20%;
  margin-top: 5%;
}
