@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Shippori+Mincho:wght@700&display=swap");

li {
  list-style: none;
}
.cardview {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 0px 0px 20px 10px;
  font-family: "Reggae One", cursive;
}
.cardview > li {
  width: 220px;
  padding-top: 10px;
}
