/* body {
  background-color: #171717;
} */
.genre {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 40px;
  padding: 0px;
}
.genre-head {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.genre-head h1 {
  font-size: 32px;
  margin-left: 40px;
  z-index: 10;
}
.genre-head h4 {
  text-align: right;
  margin-right: 40px;
  z-index: 10;
}
